@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  .title {
    @apply text-[30px] font-bold text-primary mb-7 font-primary;
  }
  .h3 {
    @apply text-2xl text-primary font-semibold mt-5 mb-2;
  }
  .h4 {
    @apply text-lg font-semibold;
  }
  .li {
    @apply font-medium text-primary/80;
  }
  .nav .active {
    @apply text-primary bg-box-border duration-700;
  }
}

.n:hover .show {
  visibility: visible !important;
}
.rectangle {
  background-image: linear-gradient(90deg, #6b7280 1px, transparent 2px),
    linear-gradient(180deg, #6b7280 1px, transparent 2px);
  background-size: 20px 20px;
  z-index: -100;
  background-position: 10px 10px;
  opacity: 0.08;
  inset: 0px;
  position: fixed;
  /* min-height: 100vh; */
}
